# gradle related
/.gradle
/_build/
/out/

# IDE
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles

# application stuff
*.log

# OS Stuff
*.DS_Store

# allows to override logger config locally
/src/main/resources/log4j2-test.xml
