# gradle related
/.gradle
/_build/
/out/

# IDE
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
src/main/generated/

# application stuff
*.log

# firm stuff
/*.vcg
/*.s
/*.valid
/*.mj

# OS Stuff
*.DS_Store

# allows to override logger config locally
/src/main/resources/log4j2-test.xml
